<% @bricks.each do |brick| %>
  <p><%= brick.email %></p>
<% end %>

<% 15.times do %>
<div class="brick red">
  My brick
</div>
<div class="brick orange">
  My brick
</div>
<div class="brick green">
  My brick
</div>
<div class="brick blue">
  My brick
</div>
<div class="brick pink">
  My brick
</div>
<div class="brick yellow">
  My brick
</div>
<% end %>

