<div class='wall'>
  <% @bricks.each do |brick| %>
  <div class="brick <%= brick.colour || 'red' %>">
    <div class="message">
      <h3><%= brick.name %></h3>
      <p><%= brick.message %></p>
    </div>
  </div>
  <% end %>
</div>
